{{#solid}}@import '~bf-solid/_lib/solid';{{/solid}}

html, body, #container {
  float: left;
  height: 100%;
  width: 100%;
}

.pg-logo {
  position: fixed;
  top: 10px;
  left: 10px;
}

.bf-logo {
  width: 150px;
}

.pf-text {
  font-size: 32px;
  letter-spacing: -0.5px;
  position: relative;
  top: -2px;
  left: -4px;
}

.center {
  {{#solid}}
  @extend .flex;
  @extend .xs-flex-align-center;
  @extend .xs-flex-justify-center;
  {{else}}
  display: flex;
  align-items: center;
  justify-content: center;
  {{/solid}}
}

.content {
  height: 100%;
  width: 100%;
  @extend .center;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #f8ed34;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @extend .center;
}

.circle-text {
  font-size: 72px;
  font-weight: bolder;
  -webkit-text-stroke: 4px;
  letter-spacing: 1px;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}
